<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>the clearest way into the universe is through a forest wilderness </key>
	<string>john muir</string>
	<key>look deep into nature, and then you will understand everything better</key>
	<string>albert einstein</string>
	<key>the good man is the friend of all living things</key>
	<string>mahatma gandi</string>
	<key>the earth is what we all have in common</key>
	<string>wendell berry</string>
	<key>everyone smiles in the same language</key>
	<string>george carlin</string>
	<key>keep the child in you alive and playing</key>
	<string></string>
	<key>life is the dancer and you are the dance</key>
	<string>eckhart tolle</string>
	<key>there is no rule that says i have to live life like everyone else</key>
	<string></string>
	<key>the world is changed by your example, not by your opinion</key>
	<string>paolo coelho</string>
	<key>our own life has to be our message</key>
	<string>thich nhat han</string>
	<key>where there is life, there is hope</key>
	<string>terence</string>
	<key>we did not inherit the earth from our ancestors, we are just borrowing it from our children</key>
	<string>native american saying</string>
	<key>the earth laughs in flowers </key>
	<string>ralph waldo emerson</string>
</dict>
</plist>
